@model List<ArticleDto>

<meta name="description" content="Başta Ankara, İstanbul, Samsun, Eskişehir, Konya gibi iller olmak üzere ülke sınırları içerisinde hukuki danışmanlık ve hukuk hizmeti vermekteyiz. Tüm davalarda hizmet vermekteyiz. Başlıca baktığımız davalar Ceza-Ağır Ceza davaları, Boşanma Davaları Aile Hukuku gibi alanlardır. Bize Ankara'da bulunan büromuzda mesai saatleri içerisinde ulaşabilirsiniz. Google haritalara Nurselanay ZENGİN hukuk ve danışmanlık merkezi yazdığınızda büromuza ulaşabilirsiniz ya da web sitemizdeki iletişim kısmından bizlere ulaşabilirsiniz." />
<meta name="keywords" content="Avukat Nurselenay ZENGİN" />
<meta name="keywords" content="Ankara Avukat" />
<meta name="keywords" content="Ankara ceza avukatı" />
<meta name="keywords" content="Ankara boşanma avukatı" />
<meta name="author" content="Onur KIRIK" />

<section id="practiseArea" class="container mb-4">
    <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
        @foreach (var article in Model)
        {
            <div class="card .col-xs-6 .col-md-4 m-3 shadow" style="width: 16rem;">
                <img src="~/img/articleImg/articleImg.jpg" class="card-img-top" alt="@article.Title">
                <div class="card-body">
                    <h5 class="card-title">@article.Title</h5>
                    <p class="text-start">Hazırlayan: @article.CreatedBy</p>
                    <p class="text-start">Tarihi: @article.CreatedDate.ToShortDateString()</p>
                    <p class="text-start">Konusu: @article.Category.Name</p>
                    <a class="btn btn-outline-dark float-end" data-id="@article.ID" asp-controller="Article" asp-action="ViewFullArticle" asp-route-articleId="@article.ID">Daha fazla...</a>
                </div>
            </div>
        }
    </div>
</section>